In [12]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [9]:
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [10]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [13]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [14]:
df

             A         B
G1 1  0.996813 -2.166067
   2  0.039139  0.140829
   3 -0.456964 -1.041735
G2 1 -0.360497  0.299772
   2 -0.392732 -0.050352
   3  1.395523 -1.047282

In [17]:
df.loc['G1']

          A         B
1  0.996813 -2.166067
2  0.039139  0.140829
3 -0.456964 -1.041735

In [21]:
df.loc['G1'].loc[1]

A    0.996813
B   -2.166067
Name: 1, dtype: float64

In [23]:
df.index.names

FrozenList([None, None])

In [24]:
df.index.names = ['Groups','Num']

In [28]:
df.loc['G2'].loc[2]['B']

-0.0503524558731297

In [29]:
df

                   A         B
Groups Num
G1     1    0.996813 -2.166067
       2    0.039139  0.140829
       3   -0.456964 -1.041735
G2     1   -0.360497  0.299772
       2   -0.392732 -0.050352
       3    1.395523 -1.047282

In [30]:
df.loc['G2'].loc[3]['B']

-1.0472819090957861

In [31]:
df.loc['G2',3]['B']

-1.0472819090957861

In [32]:
df

                   A         B
Groups Num
G1     1    0.996813 -2.166067
       2    0.039139  0.140829
       3   -0.456964 -1.041735
G2     1   -0.360497  0.299772
       2   -0.392732 -0.050352
       3    1.395523 -1.047282

In [33]:
df.loc['G1']

            A         B
Num
1    0.996813 -2.166067
2    0.039139  0.140829
3   -0.456964 -1.041735

In [34]:
df.xs('G1')

            A         B
Num
1    0.996813 -2.166067
2    0.039139  0.140829
3   -0.456964 -1.041735

In [35]:
df.xs(1,level='Num')

               A         B
Groups
G1      0.996813 -2.166067
G2     -0.360497  0.299772