In [2]:
import pandas as pd

In [5]:
pwd

'C:\\Users\\kunal\\DS & ML'

In [6]:
pd.read_csv('example')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [7]:
df = pd.read_csv('example')

In [10]:
df.to_csv('My_output',index=False)

In [11]:
pd.read_csv('My_output')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [8]:
pd.read_excel('Excel_Sample.xlsx','Sheet1')

In [9]:
df.to_excel('Excel_sample2.xlsx',sheet_name = 'newSheet')

In [13]:
pd.read_excel('Excel_sample2.xlsx', 'newSheet')

   Unnamed: 0.1  Unnamed: 0   a   b   c   d
0             0           0   0   1   2   3
1             1           1   4   5   6   7
2             2           2   8   9  10  11
3             3           3  12  13  14  15